In [1]:
import pandas as pd

c:\users\personal\appdata\local\programs\python\python38\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\users\personal\appdata\local\programs\python\python38\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
c:\users\personal\appdata\local\programs\python\python38\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
from sklearn.linear_model import LogisticRegression

In [3]:
from sklearn.preprocessing import StandardScaler

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.metrics import accuracy_score

In [6]:
df = pd.read_csv("BankNote_Authentication.csv")

In [7]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [8]:
features = df.iloc[:,0:4]

In [9]:
features.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [10]:
target = df.iloc[:,-1]

In [11]:
target.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [12]:
scaler = StandardScaler()

In [13]:
std_features = scaler.fit_transform(features)

In [14]:
classifier = LogisticRegression()

In [15]:
features_train,features_test,target_train,target_test = train_test_split(features,target,test_size = 0.3,random_state=0)

In [16]:
std_ft_tr = scaler.fit_transform(features_train)

In [17]:
std_ft_tst = scaler.fit_transform(features_test)

In [20]:
model=classifier.fit(std_ft_tr,target_train)

In [22]:
prd = classifier.predict(std_ft_tst)

In [23]:
accuracy_score(target_test,prd)

0.9830097087378641

In [25]:
import pickle

In [26]:
pickle_out = open("model.pkl","wb")
pickle.dump(model, pickle_out)
pickle_out.close()